<div class="container">
  <h1 class="text-center"><%= @author.name %></h1>
    <%= image_tag @author.auth_image, class:"img-responsive auth_image center-block" %>
  <div class="col-xs-8 col-xs-offset-2">
    <p><%= @author.bio %></p>
  </div>
</div>
