<div class="container">
  <%= image_tag "saturn.jpg",  :class => "img-circle center-block profile-pic" %>
  <h3 class="text-center profile">Saturn Inc.</h3>
  <div class="col-xs-6 col-xs-offset-3">
    <p>No, Pop-pop does not get a treat. I just bought you a f**king pizza. Hey, Dad. Look at you. You're a year older…and a year closer to death. Buster: Oh yeah, I guess that's kind of funny. I'm foolish and I'm funny and I'm needy. Am I needy? Are you sure I'm not needy? 'Cause I feel needy sometimes. And I wouldn't just lie there, if that's what you're thinking. That's not what I WAS thinking. This is not what it looks like. It looks like you're tweaking her nipples through a chain-link fence. How am I supposed to find someone willing to go into that musty old claptrap? I'm gonna go get sexy.</p>
  </div>
  <div class="col-xs-1"></div>
  <div class="col-xs-3 about-profile text-center"><a>Twitter</a>
  </div>
  <div class="col-xs-3 about-profile text-center"><a>Facebook</a>
  </div>
  <div class="col-xs-3 about-profile text-center"><a>Instagram</a>
  </div>
  <div class="col-xs-1"></div>
</div>
